.git
.github
.claude
.agents
.cursor
.idea
.vscode
node_modules
packages/*/node_modules
vendor
public/css
public/js
public/hot
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.testing
tests
packages/*/tests
docker-compose.yml
